# Python
_pycache_/
*.pyc
*.pyo
*.pyd
.Python/
env/
venv/
*.env

# Django specific
*.log
*.pot
*.mo
*.xml
db.sqlite3
media/
static/
local_settings.py # If you create one for local specific settings
.env # Common for environment variables

# IDEs and OS
.vscode/ # VS Code specific settings
.DS_Store # macOS
Thumbs.db # Windows